<!doctype html>
<html>
<head>
  <title>Write Gab</title>
  <link rel="stylesheet" href="/stylin.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
</head>

<body>
  <header>
    <nav>
      <ul class="nav">
        <li>
          <a href="/home" class = "navLink"><p>Gabble</p></a>
        </li>
        <li>
          <a href="/create" class = "navLink"><p>Create a new gab</p></a>
        </li>
    </nav>
  <h1>Create Gab</h1>
  <form method="post" action="create">
    <textarea rows="20" cols="50" name="gabBody"></textarea>
    <br>
    <input type="submit" value="Post Gab">
  </form>

</body>

<html>
