<!doctype html>
<html>
<head>
  <title>Write Gab</title>
  <link rel="stylesheet" href="/stylin.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
</head>

<body>
  <h1>Create Gab</h1>
  <form method="post" action="create">
    <textarea rows="50" cols="20" name="gabBody"></textarea>
    <br>
    <input type="submit" value="Post Gab">
  </form>

</body>

<html>
