<!doctype html>
<html>
<head>
  <title>Gabble Home</title>
  <link rel="stylesheet" href="/stylin.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
</head>

<body>
  <header>
    <nav>
      <ul class="nav">
        <li>
          <a href="/home" class = "navLink"><p>Gabble</p></a>
        </li>
        <li>
          <a href="/create" class = "navLink"><p>Create a new gab</p></a>
        </li>
        <li>
    </nav>
  </header>
  <main>
    <section>
      <h2> Hello {{ activename }}! </h2>
      <form method="post" action="/logout">
         <input type="submit" value="logout">
      </form>

    </section>
    {{ #messages }}
    <div>

      <p> Name: {{ user.name }} <br>

                {{ body }} <br>
                {{ createdAt }} <br>
         likes: <a href="/likes/{{ id }}">{{ likes }} </a>

          <form method="post" action="/like/{{ id }}">
            <input type="submit" value="like">
          </form>
      </p>
    </div>
      {{ /messages }}



  </main>
</body>
</html>
