<!doctype html>
<html>
<head>
  <title>Gabble Home</title>
  <link rel="stylesheet" href="/stylin.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
</head>

<body>
  <header>
    <nav>
      <ul class="nav">
        <li>
          <a href="/home" class = "navLink"><p>Gabble</p></a>
        </li>
        <li>
          <a href="/create" class = "navLink"><p>Create a new gab</p></a>
        </li>
    </nav>
  </header>
  <main>
    <div>
      <p> Name: message <br>
          publish data <br>
          likes
      </p>
      <form method="post" action="/like">
        <input type="submit" value="like">
      <form>



  </main>
</body>
</html>
