<!doctype html>
<html>
<head>
  <title>Gab Likes</title>
  <link rel="stylesheet" href="/stylin.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
</head>

<body>
  <header>
    <nav>
      <ul class="nav">
        <li>
          <a href="/home" class = "navLink"><p>Gabble</p></a>
        </li>
        <li>
          <a href="/create" class = "navLink"><p>Create a new gab</p></a>
        </li>
        <li>
    </nav>
  </header>
  <main>

    {{ #results }}
      <p>
      {{ results.name }}
      {{ results.body }} <br>
      {{ results.createdAt }} <br>
      </p>

      <h4> Liked By: </h4>

    <div>

    </div>



    {{ /results}}


  </main>
</body>
</html>
